Repository i4/jitty-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish, clang4-x64, clang5-x64, clang6-x64, clang7-x64, clang8-x64, clang9-x64, clang10-x64

publish:
  stage: publish
  image:
    name: gcr.io/go-containerregistry/crane:debug
    entrypoint:
    - ''
  script:
  - cd "docker-images/$REGISTRY/${NAMESPACE}/${IMAGE}" || exit 0
  - crane auth login -u $USER -p $PASSWORD $REGISTRY
  - rval=0
  ...

clang4-x64:
  stage: build
  script:
  - '[ -d context ] || mkdir context'
  - '[ -d "docker-images/${REGISTRY}/${NAMESPACE}/" ] || mkdir -p "docker-images/${REGISTRY}/${NAMESPACE}/${IMAGE}"'
  ...

clang5-x64:
  stage: build
  script:
  - '[ -d context ] || mkdir context'
  - '[ -d "docker-images/${REGISTRY}/${NAMESPACE}/" ] || mkdir -p "docker-images/${REGISTRY}/${NAMESPACE}/${IMAGE}"'
  ...

clang6-x64:
  stage: build
  script:
  - '[ -d context ] || mkdir context'
  - '[ -d "docker-images/${REGISTRY}/${NAMESPACE}/" ] || mkdir -p "docker-images/${REGISTRY}/${NAMESPACE}/${IMAGE}"'
  ...

clang7-x64:
  stage: build
  script:
  - '[ -d context ] || mkdir context'
  - '[ -d "docker-images/${REGISTRY}/${NAMESPACE}/" ] || mkdir -p "docker-images/${REGISTRY}/${NAMESPACE}/${IMAGE}"'
  ...

clang8-x64:
  stage: build
  script:
  - '[ -d context ] || mkdir context'
  - '[ -d "docker-images/${REGISTRY}/${NAMESPACE}/" ] || mkdir -p "docker-images/${REGISTRY}/${NAMESPACE}/${IMAGE}"'
  ...

clang9-x64:
  stage: build
  script:
  - '[ -d context ] || mkdir context'
  - '[ -d "docker-images/${REGISTRY}/${NAMESPACE}/" ] || mkdir -p "docker-images/${REGISTRY}/${NAMESPACE}/${IMAGE}"'
  ...

clang10-x64:
  stage: build
  script:
  - '[ -d context ] || mkdir context'
  - '[ -d "docker-images/${REGISTRY}/${NAMESPACE}/" ] || mkdir -p "docker-images/${REGISTRY}/${NAMESPACE}/${IMAGE}"'
  ...

enable expiry time
  .gitlab-ci.yml
Due: none

fix indentation
  .gitlab-ci.yml
Due: none

set DEBIAN_FRONTEND + move FROM
  Dockerfile.clang10-x64
  Dockerfile.clang4-x64
  Dockerfile.clang5-x64
  Dockerfile.clang6-x64
  Dockerfile.clang7-x64
  Dockerfile.clang8-x64
Due: publish, clang4-x64, clang5-x64, clang6-x64, clang7-x64, clang8-x64, clang10-x64

fix clang7 version
  Dockerfile.clang7-x64
Due: publish, clang7-x64

+= clang 3.5
  .gitlab-ci.yml
  Dockerfile.clang3.5-x64
Due: publish

+= clang8 aarch64
  .gitlab-ci.yml
  Dockerfile.clang8-aarch64
Due: publish

clang8-aarch64: enable debug output
  Dockerfile.clang8-aarch64
Due: publish

manually satisfy gcc-aarch64-linux-gnu dependency
  Dockerfile.clang8-aarch64
Due: publish

use ENV to indicate clang version
  Dockerfile.clang10-x64
  Dockerfile.clang3.5-x64
  Dockerfile.clang4-x64
  Dockerfile.clang5-x64
  Dockerfile.clang6-x64
  Dockerfile.clang7-x64
  Dockerfile.clang8-aarch64
  Dockerfile.clang8-x64
  Dockerfile.clang9-x64
Due: publish, clang4-x64, clang5-x64, clang6-x64, clang7-x64, clang8-x64, clang9-x64, clang10-x64

+= doxygen
  Dockerfile.doxygen
Due: publish

add doxygen to list of images to build
  .gitlab-ci.yml
Due: none

Reorganize & let Docker build the containers (prevents leakage of user data)
  .gitlab-ci.yml
  clang10-x64/Dockerfile
  clang3.5-x64/Dockerfile
  clang4-x64/Dockerfile
  clang5-x64/Dockerfile
  clang6-x64/Dockerfile
  clang7-x64/Dockerfile
  clang8-aarch64/Dockerfile
  clang8-x64/Dockerfile
  clang9-x64/Dockerfile
  doxygen/Dockerfile
Due: none

Add tiny Readme
  README.md
Due: none

add clang9 and clang10 aarch64
  clang10-aarch64/Dockerfile
  clang9-aarch64/Dockerfile
Due: none

fix aarch64 dependencies
  clang10-aarch64/Dockerfile
  clang9-aarch64/Dockerfile
Due: none

add dotnet runtime (v5.0.0)
  dotnet/Dockerfile
Due: none

minimize dotnet container by copying only buildartifacts
  dotnet/Dockerfile
Due: none

reformat: sorted list of pkgs
  clang10-aarch64/Dockerfile
  clang10-x64/Dockerfile
  clang3.5-x64/Dockerfile
  clang4-x64/Dockerfile
  clang5-x64/Dockerfile
  clang6-x64/Dockerfile
  clang7-x64/Dockerfile
  clang8-aarch64/Dockerfile
  clang8-x64/Dockerfile
  clang9-aarch64/Dockerfile
  clang9-x64/Dockerfile
  dotnet/Dockerfile
  doxygen/Dockerfile
Due: none

add cppcheck to install list
  clang10-aarch64/Dockerfile
  clang10-x64/Dockerfile
  clang3.5-x64/Dockerfile
  clang4-x64/Dockerfile
  clang5-x64/Dockerfile
  clang6-x64/Dockerfile
  clang7-x64/Dockerfile
  clang8-aarch64/Dockerfile
  clang8-x64/Dockerfile
  clang9-aarch64/Dockerfile
  clang9-x64/Dockerfile
Due: none

clang9 x86: update ubuntu base image
  clang9-x64/Dockerfile
Due: none

add Makefile for easy provisioning
  Makefile
Due: none

make: use the correct image name (jitty)
  Makefile
Due: none

fix: dotnet runtime dependency-mismatch
  dotnet/Dockerfile
Due: none

gcc11 x64
  gcc11-x64/Dockerfile
Due: none

dotnet: add basic build tools
  dotnet/Dockerfile
Due: none

clang: add tools for creating ISOs
  clang10-x64/Dockerfile
  clang3.5-x64/Dockerfile
  clang4-x64/Dockerfile
  clang5-x64/Dockerfile
  clang6-x64/Dockerfile
  clang7-x64/Dockerfile
  clang8-x64/Dockerfile
  clang9-x64/Dockerfile
Due: none

clang: add clang-tidy
  clang10-x64/Dockerfile
  clang3.5-x64/Dockerfile
  clang4-x64/Dockerfile
  clang5-x64/Dockerfile
  clang6-x64/Dockerfile
  clang7-x64/Dockerfile
  clang8-x64/Dockerfile
  clang9-x64/Dockerfile
Due: none

Path conditions:
  publish: any of: Dockerfile.*
  clang4-x64: any of: Dockerfile.clang4-x64
  clang5-x64: any of: Dockerfile.clang5-x64
  clang6-x64: any of: Dockerfile.clang6-x64
  clang7-x64: any of: Dockerfile.clang7-x64
  clang8-x64: any of: Dockerfile.clang8-x64
  clang9-x64: any of: Dockerfile.clang9-x64
  clang10-x64: any of: Dockerfile.clang10-x64
